form {
  margin-left: 0!important;
}

.form-control {
  margin-right: 5px;
}

input.ng-touched.ng-invalid {
  border-color: red;
}

img.userImage {
  height: 50px;
  margin-left: 5px;
}

nav {
  border-bottom: 2px solid var(--lightblue) !important;
  margin-bottom: 10px;
}
.logo {
  width: 120px;
}

