<nav class="navbar navbar-light bg-white justify-content-between mb-4">
  <div class="container">
    <div class="justify-content-sm-between w-100 d-flex">
      <div class="d-flex align-items-center">
        <a routerLink="search" class="navbar-brand">
          <img src="../../assets/images/Logo (1).png" alt="logo" class="logo">
        </a>
      </div>
      <div>
        <form (ngSubmit)="login()" [formGroup]="loginForm" class="d-flex align-items-center mt-3" *ngIf="!isLogged">
          <input class="form-control" type="text" placeholder="User" formControlName="username">
          <input class="form-control" type="password" placeholder="Password" formControlName="password">
          <button class="btn btn-outline-success my-2 my-sm-0" [disabled]="loginForm.invalid" type="submit">Login</button>
        </form>
        <span class="error" *ngIf="loginError">{{logginErrorMessage}}</span>
      </div>
      <div *ngIf="isLogged" class="d-flex align-items-center">
        <div *ngIf="isVisible" class="d-flex justify-content-end">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <div *ngIf="!isVisible">
          <button class="btn btn-outline-danger me-2" (click)="logout()">Logout</button>
          <!-- <a routerLink="admin"><fa-icon [icon]="userIcon" style="font-size: 30px; color: darkolivegreen"></fa-icon></a> -->
          <a routerLink="admin"><img class="userImage" src="./assets/images/1012770.png"></a>
        </div>

      </div>
    </div>
  </div>
</nav>

