<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div id="successAdd" class="mb-2" [style.display]="isVisible ? 'block' : 'none'">
        <p class="m-4"><fa-icon [icon]="check"></fa-icon>Il tuo sito è stato aggiunto con successo!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-4">
      <h1>User info</h1>
      <div>
        <img class="d-block profile" src="../../assets/images/1012770.png" alt="User image">
        <button class="btn btn-outline-primary" disabled>Cambia password</button>
        <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
      </div>
    </div>
    <div class="col-12 col-lg-7">
      <h4>Aggiungi un nuovo item</h4>
      <p>Compila il form sottostante per aggiungere un nuovo elemento.</p>
      <form [formGroup]="addForm" (ngSubmit)="onAddSearchItem()">
        <div class="form-group">
          <label for="title">Titolo</label>
          <input
            id="title"
            class="form-control"
            formControlName="title"
            type="text"
          >
          <span class="error" *ngIf="addForm.controls['title'].invalid && addForm.controls['title'].touched">Campo obbligatorio</span>
        </div>
        <div class="form-group">
          <label for="description">Descrizione</label>
          <textarea
            id="description"
            class="form-control"
            formControlName="description"
          ></textarea>
          <span class="error" *ngIf="addForm.controls['description'].invalid && addForm.controls['description'].touched">Campo obbligatorio</span>
        </div>
        <div class="form-group">
          <label for="url">Url</label>
          <input
            id="url"
            type="url"
            class="form-control"
            formControlName="url"
          >
          <span class="error" *ngIf="addForm.controls['url'].invalid && addForm.controls['url'].touched">Campo obbligatorio</span>
        </div>
        <div class="form-group">
          <label for="keys">Chiavi</label>
          <input
          id="keys"
          type="keys"
          class="form-control"
          formControlName="keys"
          >
          <span class="error" *ngIf="addForm.controls['keys'].invalid && addForm.controls['keys'].touched">Campo obbligatorio</span>
        </div>
        <div class="w-100 d-flex justify-content-end">
          <button class="btn btn-outline-primary mb-5" [disabled]="addForm.invalid" type="submit">Aggiungi</button>
        </div>
      </form>
    </div>
  </div>
</div>

