input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid var(--red);
}

img.profile {
  width: 200px;
  margin: 10px 0;
}

.form-group {
  margin: 10px 0;
}

#successAdd {
  border: 1px dotted green;
  background-color: rgba(135, 206, 135, 0.849);
  color: green;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

ul li {
  list-style-type: none;
}

.form-check-input {
  border: 1px solid var(--lightblue)
}
.form-check-input:checked {
  background-color: var(--lightblue);
}
