/* You can add global styles to this file, and also import other style files */
:root {
  --lightblue: #006062;
  --red: #ef5159;
  --black: #2f2f2f;
  --yellow: #e3b317;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
}
fa-icon {
  margin: 5px;
}

h1, h2, h3, h4, h5, p{
  color: var(--black);
}

.btn-outline-danger {
  color: var(--red);
  border-color: var(--red);
}

.btn-outline-danger:hover {
  background-color: var(--red);
}

.btn-outline-secondary {
  color: var(--yellow);
  border-color: var(--yellow);
}

.btn-outline-secondary:hover {
  background-color: var(--yellow);
  border-color: var(--yellow);
}

span.error {
  color: var(--red);
  font-size: 10px;
}

.btn-outline-primary {
  color: var(--lightblue);
  border-color: var(--lightblue);
}

button.btn-outline-primary[disabled] {
  color: var(--lightblue);
}

.btn-outline-primary:hover {
  background-color: var(--lightblue);
  border-color: var(--lightblue);
}

a {
  color: var(--lightblue) !important;
  text-decoration: underline!important;
}

a:hover {
  opacity: 80%;
}

a.active {
  font-weight: bold!important;
}
